.container{ 
  margin-top:50px
}
.gh-ribbon {
    display: block;
    position: absolute;
    right: -40px;
    top: 22px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 230px;
    z-index: 10000;
    white-space: nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #999292;
    box-shadow: 0 0 2px rgba(156, 152, 152, 0.4);
    padding: 1px 0;
}

.github{
  padding-left:2cm;
  color: white
}
.result{
  border-block-end-color: yellow
}